//Boje
:root{
    --color-white-1: #ecf0f1;
    --color-white-2: #bdc3c7;
    --color-blue-1: #34495e;
    --color-blue-2: #2c3e50;
    --color-grey-1: #7f8c8d;
    --max-width: 120rem;
}

$color-1: #34495e;
$color-2: #2c3e50;


$bp-iphonex: 24em;
$bp-ipad: 48em;